@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('./reset.css');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1113px;
	margin: 0 auto;
}
/* SERVICES */
.services {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

.services__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.services__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 146%;
	text-align: center;
	color: #323232;
	max-width: 740px;
	width: 100%;
	margin-bottom: 25px;
}

.services__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
	text-align: center;
	color: #999;
	max-width: 730px;
	width: 100%;
	margin: 0 0 25px 0;
}

.services__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 27px;
	margin-bottom: 25px;
}

.services__item {
	width: 353px;
	display: flex;
	gap: 20px;
}

.services__content {
	flex: 1;
	margin-top: 25px;
}

.services__item-title {
	font-weight: 600;
	font-size: 18px;
	color: #000;
	margin-bottom: 10px;
}

.services__item-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 158%;
	color: #999;
}

.services__icon {
	position: relative;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	flex-shrink: 0;
}

.services__svg {
	position: absolute;
	top: 0;
	left: 0;
}

.circle-big {
	stroke: #e0e0e0;
	stroke-width: 1px;
}

.circle-small {
	stroke: #4985ff;
	stroke-width: 1px;
}

.services__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
}

.services__btn {
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #fff;
	border-radius: 30px;
	border: 0 solid;
	width: 200px;
	height: 45px;
	box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
	background: #4985ff;
}

/* ABOUT-US */

.about-us {
	background-color: #f6f6f8;
	padding: 50px 0;
}

.about__text-regtangle {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	align-items: center;
	margin-bottom: 45px;
}

.about-us__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 489px;
	width: 100%;
}

.about__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 146%;
	color: #323232;
	margin-bottom: 40px;
}

.about__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
	color: #999;
	margin-bottom: 30px;
}

.about__link {
	font-weight: 500;
	font-size: 16px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #4985ff;
}

.about-us__img {
	border-radius: 30px;
	width: 100%;
	max-width: 480px;
	height: auto;
}

.about__line {
	display: block;
	border: 1px solid #e0e0e0;
	width: 100%;
	max-width: 1110px;
	height: 0px;
	margin: 35px auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.about-us__numbers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 100px;
	margin-top: 35px;
	padding: 0 50px;
}

.about-us__number {
	display: flex;
	flex-direction: column;
	max-width: 104px;
}

.about-us__num {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.about-us__num p {
	font-weight: 400;
	font-size: 36px;
	line-height: 146%;
	color: #000;
}

.about-us__num-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
	color: #999;
}
