@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('./reset.css');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.services {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

.services__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 1113px;
	margin: 0 auto;
}

.services__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 146%;
	text-align: center;
	color: #323232;
	max-width: 740px;
	width: 100%;
	margin-bottom: 25px;
}

.services__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
	text-align: center;
	color: #999;
	max-width: 730px;
	width: 100%;
	margin: 0 0 25px 0;
}

.services__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 27px;
	margin-bottom: 25px;
}

.services__item {
	width: 353px;
	display: flex;
	gap: 20px;
}

.services__content {
	flex: 1;
	margin-top: 25px;
}

.services__item-title {
	font-weight: 600;
	font-size: 18px;
	color: #000;
	margin-bottom: 10px;
	/* margin-top: 25px; */
}

.services__item-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 158%;
	color: #999;
}

.services__icon {
	position: relative;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	flex-shrink: 0;
}

.services__svg {
	position: absolute;
	top: 0;
	left: 0;
}

.circle-big {
	stroke: #e0e0e0;
	stroke-width: 1px;
}

.circle-small {
	stroke: #4985ff;
	stroke-width: 1px;
}

.services__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
}

.services__btn {
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #fff;
	border-radius: 30px;
	border: 0 solid;
	width: 200px;
	height: 45px;
	box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
	background: #4985ff;
}
